.filterContainer {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    background-color: white;
    height: min-content;
    width: 240px;
    padding: 7px;
    border-radius: 7px;

    @media only screen and (max-width: 830px) {
        margin-right: 0px;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;

        .buttonItemContainer {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }

    .checkBoxContainer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .checkBoxItemContainer {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
    }
}
